body{
    background-color: #0c172b;
}
.card-box{
width: 25%;
height: 90vh;
background-color: #15273f;
border: 1px solid  #15273f;
border-radius: 5%;
margin: 0 auto;
margin-top: 2%;
}
.card-img{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 7%;
}
.card-img img{
    width: 100%;
    border-radius: 5%;
}
.card-txt{
    padding-left: 5%;
}
.card-txt h3{
    color: white;
}
.card-txt p{
    color: #4d627f;
    width: 90%;
}
.eth-tym{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
.eth-tym h5{
    color: #3cf0ed;
}
.eth-tym p{
    color: #4d627f;
}
.horz{
    width: 80%;
    border: 1px solid ;
    color: #4d627f;
    margin-left: 10%;
 }
 .small-img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
     padding-left: 5%;
    padding-right: 25%;
    margin-top: 6%;
}
.small-img img{
    width: 30%;
    height: 70px;
    border-radius: 100%;
}
span{
    color: aliceblue;
    margin-left: 2px;
}
.small-img p{
    color: #4d627f;
}




@media screen and (max-width: 600px) {
  .card-box {
    width: 70%;
    height: auto;
    margin-top: 30%;
    margin-left: 16%;
    border-radius: 15px;
    padding-bottom: 5%;
  }

  .card-txt h3 {
    font-size: 1.1rem;
  }

  .card-txt p {
    font-size: 0.85rem;
    width: 80%;
  }

  .eth-tym {
    flex-direction: flex;
    align-items: space-between;
    gap: 5px;
  }

  .small-img {
    justify-content: flex-start;
    padding: 5% 10%;
  }

  .small-img img {
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .card-box {
    width: 60%;
    height: auto;
    margin-top: 5%;
  }
}